.signin-field {
    width: 300px;
    &__input {
      margin-bottom: 25px;
      width: 300px;
      height: 40px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
}

.signin-btn-submit {
    display: flex;
    justify-content: flex-end;

    &__btn {
        cursor: pointer;
    }
}
