.wrap {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 25px 0 25px;
  background-color: #373b69;
}


.App-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}